/* CUSTOM FONT IMPORTS */
@import url("https://fonts.googleapis.com/css?family=Fredoka+One|Open+Sans");

.font-fredokaone {
  font-family: "Fredoka One", cursive;
}
.font-opensans {
  font-family: "Open Sans", sans-serif;
}

body {
  background: url("../bg.jpg") no-repeat fixed center;
  background-size: cover;
  font-family: "Fredoka One", cursive;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

/* Navbar link color */
.router-link {
  color: black;
  font-size: 25px;
  text-decoration: none;
  margin: 0.5em;
}

/* Navbar link active color */
.active-link {
  color: #1890ff;
}

/* Align navbar icon on the same level as the text */
.nav-icon {
  display: inline-flex;
  vertical-align: bottom;
}

#calendar {
  margin-top: 1em;
  height: 750px;
  font-family: "Open Sans", sans-serif;
  -webkit-box-shadow: 3px 20px 30px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 20px 30px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 20px 30px 0px rgba(0, 0, 0, 0.75);
}

.container {
  padding: 2em;
}

.ant-card-bordered {
  -webkit-box-shadow: 3px 20px 30px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 20px 30px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 20px 30px 0px rgba(0, 0, 0, 0.75);
}

.ant-input-search > .ant-input-wrapper > .ant-input {
  -webkit-box-shadow: 3px 20px 30px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 20px 30px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 20px 30px 0px rgba(0, 0, 0, 0.75);
}

@media (max-width: 1000px) {
  .ant-card {
    margin-bottom: 15px !important;
  }
  .ant-row {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }
  .ant-col-8 {
    width: 80% !important;
  }

  .ant-form-item-control-wrapper {
    width: 100% !important;
  }
  .ant-col-12 {
    width: 100% !important;
    padding-right: 0 !important;
  }
  .new-customer-firstname {
    margin-bottom: 1em;
  }
  .new-customer-city {
    margin-bottom: 25px;
  }
  /* ALL DRAWERS  */
  .ant-drawer-content-wrapper {
    width: 100% !important;
  }
  .ant-col {
    width: 100%;
  }
  .ant-input-number {
    width: 100% !important;
  }
}
